<h1><%= link_to @title, category_path(@category) %></h1>

<% items.each do |product| %>
<table style="background-color: #ffffff; height: 360px;" border="0" width="800">
  <tbody>
    <tr>
      <td style="width: 300px; height: 300px;" rowspan="5" align="center" valign="middle">
        <div id="scale-img" style ="width: 330px">
          <%= image_tag(product.imageuri, :alt => product.name, :class => "product_image") %>
        </div>
      </td>
      <td colspan="2"><strong><span style="background-color: #ffffff; color: #000000; font-size: large;"><%= product.name %></span></strong></td>
    </tr>
    <tr valign="middle">
      <td style="width: 10px;" valign="middle"><span style="background-color: #ffffff; color: #000000;">Reference</span></td>
      <td style="width: 300px;" valign="middle"><span style="background-color: #ffffff; color: #000000;"><%= product.reference %></span></td>
    </tr>
    <tr>
      <td><span style="background-color: #ffffff; color: #000000;">Brand</span></td>
      <td><span style="background-color: #ffffff; color: #000000;"><%= product.brand %></span></td>
    </tr>
    <tr>
      <td><span style="background-color: #ffffff; color: #000000;">Price</span></td>
      <td><span style="background-color: #ffffff; color: #000000;">USD <%= product.unitprice %></span></td>
    </tr>
    <tr>
      <td><span style="background-color: #ffffff; color: #000000;"> </span></td>
      <td><span style="background-color: #ffffff; color: #FF0000;"> </span></td>
    </tr>
    <tr>
      <td colspan="3">
        <%= simple_format(product.description) %>
        <span style="background-color: #ffffff; color: #FF0000;"><b>Interested?? Email us tricky57+vente@gmail.com</b></span>
      </td>
    </tr>
  </tbody>
</table>
<br />
<% end %>

