<header>
  <div id="header">
    <div id="logo">
      <h1><a href="contact">Aldrick &amp; Claire</a></h1>
      <p>Everything must go!!</p>
    </div>
    <div id="rss">&nbsp;</div>
  </div>

  <div id="menu">
    <ul>
      <li><%= link_to "Contact", root_path %></li>
      <li><%= link_to "Electronics", electronics_path %></li>
      <li><%= link_to "Beleza", beleza_path %></li>
      <li><%= link_to "House", house_path %></li>
      <li><%= link_to "Sport", sport_path %></li>
      <li><%= link_to "Kitchen", kitchen_path %></li>
    </ul>
  </div>
</header>

